//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "../../../../../bootstrap_package/Resources/Public/Scss/Theme/theme";
.breadcrumb-text {
  color: $white;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
}

@include media-breakpoint-up('md') {
  .textmedia-right,
  .textmedia-left,
  .textpic-right,
  .textpic-left {
    .textmedia-item,
    .textpic-item {
      margin-bottom: 0;
    }
    .textpic-text {
      width: 75%;
    }
    .textpic-gallery {
      width: 25%;
    }
  }
  .textmedia-right,
  .textpic-right {
    .textmedia-gallery,
    .textpic-gallery {
      order: 2;
    }
  }
}


.frame-collapsible {
  @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
      margin-top: -($frame-inner-spacing * $scaling);
    }
  }
}

